@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    text-align: center;
}

body{
    background-color:hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-left: 16px;
    padding-right: 16px;
    
    
}
.container{
    margin-top: 55px;
    justify-content: center;
    width: 383px;
    background-color:hsl(0, 0%, 12%);
    height: 680px;
    img{
        margin-top: 38px;
        width: 100px;
        border-radius: 100px;
        margin-bottom: 30px;
    }
   border-radius: 10px;
   margin-bottom: 135px;
}
h2{
    font-size: 14px;
    color: #7e60cc;
    margin-bottom: 34px;
    font-weight: 700;
}
p{
    margin-left:40px ;
    margin-right: 40px;
    font-size: 14px;
    margin-bottom: 30px;
}
h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight:600;
    font-size: 20px;
}
.button{
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color:hsl(0, 0%, 20%);
    height: 50px;
    width: 300px;
    border-radius: 10px;
    text-decoration: none;
    align-items: center;
    margin-left: 40px;
    

}
.button:hover{
    background-color: #7e60cc;
    transition: 0.8s;
    
}
